<nav class="navbar navbar-default" style="background-color:#000000">
  <div class="container-fluid" style=" background-color:#fff; border: 1px solid black">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class ="navbar-brand">
        <span class="navbar-brand">C.R. KANNAN</span>
      </div>
    </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" style="margin-top:10px">
       <li class="header1"><%= link_to 'HOME', root_path %></li>
       <li class="header1"><%= link_to 'ABOUT', pages_about_path %></li>
       <li class="header1"><%= link_to 'RESUME', pages_resume_path %></li>
       <li class="header1"><%= link_to 'MILESTONES', pages_milestones_path %></li>
       <li class="header1"><%= link_to 'GALLERY', pages_gallery_path %></li>
       <li class="header1"><%= link_to 'CONTACT', pages_contact_path %></li>
      </ul> 
      </div>
  </div>
</nav>
<h2 style="text-align:center;background-color: #000;color: #fff">INTERNAL COMMUNICATIONS</h2>
  <div class="container">
      <% Pin.all.where(:name => 'Internal Communications').each do |p| %>
        <%= link_to p.image.url(:large), :class => 'fancybox', :rel => 'group' do %>
          <div class="box col2">
            <%= image_tag p.image.url(:medium) %>
          </div>
          <% end %>
          <%= link_to p.image2.url(:large), :class => 'fancybox', :rel => 'group' do %>
          <div class="box col2">
            <%= image_tag p.image2.url(:medium) %>
          </div>
          <% end %>
          <%= link_to p.image3.url(:large), :class => 'fancybox', :rel => 'group' do %>
          <div class="box col2">
            <%= image_tag p.image3.url(:medium) %>
          </div>
          <% end %>
          <%= link_to p.image4.url(:large), :class => 'fancybox', :rel => 'group' do %>
          <div class="box col2">
            <%= image_tag p.image4.url(:medium) %>
          </div>
          <% end %>
          <%= link_to p.image5.url(:large), :class => 'fancybox', :rel => 'group' do %>
          <div class="box col2">
            <%= image_tag p.image5.url(:medium) %>
          </div>
          <% end %>
      <% end %>
  </div><br />
  <h2 style="text-align:center;background-color: #000;color: #fff">EVENTS AND PRESS</h2>
  <div class="container">
      <% Pin.all.where(:name => 'Events and Press').each do |p| %>
        <%= link_to p.image.url(:large), :class => 'fancybox', :rel => 'group' do %>
          <div class="box col2">
            <%= image_tag p.image.url(:medium) %>
          </div>
          <% end %>
          <%= link_to p.image2.url(:large), :class => 'fancybox', :rel => 'group' do %>
          <div class="box col2">
            <%= image_tag p.image2.url(:medium) %>
          </div>
          <% end %>
          <%= link_to p.image3.url(:large), :class => 'fancybox', :rel => 'group' do %>
          <div class="box col2">
            <%= image_tag p.image3.url(:medium) %>
          </div>
          <% end %>
          <%= link_to p.image4.url(:large), :class => 'fancybox', :rel => 'group' do %>
          <div class="box col2">
            <%= image_tag p.image4.url(:medium) %>
          </div>
          <% end %>
          <%= link_to p.image5.url(:large), :class => 'fancybox', :rel => 'group' do %>
          <div class="box col2">
            <%= image_tag p.image5.url(:medium) %>
          </div>
          <% end %>
                <%= link_to p.image6.url(:large), :class => 'fancybox', :rel => 'group' do %>
          <div class="box col2">
            <%= image_tag p.image6.url(:medium) %>
          </div>
          <% end %>
          <%= link_to p.image7.url(:large), :class => 'fancybox', :rel => 'group' do %>
          <div class="box col2">
            <%= image_tag p.image7.url(:medium) %>
          </div>
          <% end %>
          <%= link_to p.image8.url(:large), :class => 'fancybox', :rel => 'group' do %>
          <div class="box col2">
            <%= image_tag p.image8.url(:medium) %>
          </div>
          <% end %>
          <% end %>
  </div><br />
          <h2 style="text-align:center;background-color: #000;color: #fff">EVENTS AND PRESS</h2>
  <div class="container">
      <% Pin.all.where(:name => 'Campaigns').each do |p| %>
        <%= link_to p.image.url(:large), :class => 'fancybox', :rel => 'group' do %>
          <div class="box col2">
            <%= image_tag p.image.url(:medium) %>
          </div>
          <% end %>
          <%= link_to p.image2.url(:large), :class => 'fancybox', :rel => 'group' do %>
          <div class="box col2">
            <%= image_tag p.image2.url(:medium) %>
          </div>
          <% end %>
          <%= link_to p.image3.url(:large), :class => 'fancybox', :rel => 'group' do %>
          <div class="box col2">
            <%= image_tag p.image3.url(:medium) %>
          </div>
          <% end %>
          <%= link_to p.image4.url(:large), :class => 'fancybox', :rel => 'group' do %>
          <div class="box col2">
            <%= image_tag p.image4.url(:medium) %>
          </div>
          <% end %>
          <%= link_to p.image5.url(:large), :class => 'fancybox', :rel => 'group' do %>
          <div class="box col2">
            <%= image_tag p.image5.url(:medium) %>
          </div>
          <% end %>
          <%= link_to p.image6.url(:large), :class => 'fancybox', :rel => 'group' do %>
          <div class="box col2">
            <%= image_tag p.image6.url(:medium) %>
          </div>
          <% end %>
          <%= link_to p.image7.url(:large), :class => 'fancybox', :rel => 'group' do %>
          <div class="box col2">
            <%= image_tag p.image7.url(:medium) %>
          </div>
          <% end %>
          <%= link_to p.image8.url(:large), :class => 'fancybox', :rel => 'group' do %>
          <div class="box col2">
            <%= image_tag p.image8.url(:medium) %>
          </div>
          <% end %>
          <%= link_to p.image9.url(:large), :class => 'fancybox', :rel => 'group' do %>
          <div class="box col2">
            <%= image_tag p.image9.url(:medium) %>
          </div>
          <% end %>
      <% end %>
  </div><br />
     